@tailwind base;
@tailwind components;
@tailwind utilities;







.wrapper{
     animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
.wrapperpartout{
     animation-name: slide2;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
  .wrapperprogram{
    animation-name: slide3;
   animation-duration: 10s;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
 }

  
  @keyframes slide {
    from{
      transform:translate(-27rem)
    }
    
    to{
      transform:translate(0)
    }
  }
  @keyframes slide2 {
    from{
      transform:translate(-48rem)
    }
    
    to{
      transform:translate(0)
    }
    
  }
  @keyframes slide3 {
    from{
      transform:translate(-43.4rem)
    }
    
    to{
      transform:translate(0)
    }
    
  }

  @media (width<650px){
    .wrapper{
        animation-duration: 4s;
    }
    .wrapperpartout{
        animation-duration: 4s;
    }
    .wrapperprogram{
      animation-duration: 4s;
  }
    @keyframes slide {
        from{
          transform:translate(-9.25rem)
        }
        
        to{
          transform:translate(0)
        }
      }
    @keyframes slide2 {
        from{
          transform:translate(-14.5rem)
        }
        
        to{
          transform:translate(0)
        }
      }
      @keyframes slide3 {
        from{
          transform:translate(-13.5rem)
        }
        
        to{
          transform:translate(0)
        }
      }
  }

    