---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
import Button2 from "../components/Button2.astro";
---
<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
    <div class="overflow-hidden w-full md:-mt-0">
      <!-- RULLENDE TEKST -->
      <div class="wrapperpartout flex gap-10 md:gap-32">
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
      </div>
    </div>

    <!-- BILLETTER -->
    <section class="bg-blue-600 md:p-9xl grid flex-col justify-center items-center gap-xs pt-s pb-s md:pt-9xl md:pb-9xl md:gap-5xl font-roboto">
           <Billet button="VÆLG BILLET" href="/partout" style="orange" money="" info="3 - DAGES BILLET" name="PARTOUT BILLETTER"></Billet>
           <Billet button="VÆLG BILLET" style="blue" money="" info="DAGSBILLET" name="ENDAGSBILLETTER"></Billet>
           <Billet button="VÆLG BILLET" style="sennep" money="" info="CAMPINGPAKKE" name="MIL - TENTHOUSE"></Billet>
           <Billet button="VÆLG BILLET" style="red" money="" info="" name="OVERNATNING"></Billet>
</section>

<!-- VIDEO MED COUNTDOWN -->
<div class="grid">
  <div class="col-start-1 row-start-1">
    <video class="w-full" autoplay muted loop>
      <source src="/videocountdown.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="col-start-1 row-start-1 w-full bg-red-950 bg-opacity-50"></div>
  <div class="col-start-1 row-start-1 lg:pt-20 -mt-12 md:-mt-32 xl:-mt-5">
    <div class="flex justify-center font-bold text-yellow-50 font-grotesk text-m md:text-xl mt-20 mb-5 md:mt-32"><p>VI SES OM</p></div>
    <div x-data="{
  endDate: new Date('2024-07-18T23:59:59').getTime(),
  remainingTime: 0,
  formatTime(time) {
    const days = Math.floor(time / (1000 * 60 * 60 * 24));
    const hours = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((time % (1000 * 60)) / 1000);
    return { days, hours, minutes, seconds };
  }
}" x-init="() => {
  setInterval(() => {
    const now = new Date().getTime();
    const remainingTime = endDate - now;
    $data.remainingTime = remainingTime > 0 ? remainingTime : 0;
  }, 1000);
}">
      <template x-if="remainingTime > 0">
        <div class="flex flex-row gap-7 md:gap-32 text-center justify-center font-bold text-yellow-50 font-grotesk">
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).days"></div>
            <div class="text-[13px] md:text-m">DAGE</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).hours"></div>
            <div class="text-[13px] md:text-m">TIMER</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).minutes"></div>
            <div class="text-[13px] md:text-m">MINUTTER</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).seconds"></div>
            <div class="text-[13px] md:text-m">SEKUNDER</div>
          </div>
        </div>
      </template>
      <template x-if="remainingTime <= 0">
        <div>
          <div></div>
        </div>
      </template>
    </div>
  </div>
</div>
</div>
</MainLayout>
