---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
---
<MainLayout>
    <section class="bg-blue-600 lg:p-9xl">
        <div class="grid grid-cols-1 lg:gap-5xl lg:p-9xl">
            <Billet></Billet>
            <Billet></Billet>
            <Billet></Billet>
            <Billet></Billet>
        </div>
</section>
</MainLayout>