---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
import Button2 from "../components/Button2.astro";
---
<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
    <div class="overflow-hidden w-full -mt-7 md:-mt-0">
        <div class="wrapper flex gap-6 md:gap-80">
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
        </div>
      </div>
    <section class="bg-blue-600 md:p-9xl flex flex-col justify-center items-center gap-xs pt-s pb-s md:pt-9xl md:pb-9xl md:gap-5xl font-roboto">
           <Billet button="VÆLG BILLET" style="orange" money="" info="3 - DAGES BILLET" name="PARTOUT BILLETTER"></Billet>
           <Billet button="VÆLG BILLET" style="blue" money="" info="DAGSBILLET" name="ENDAGSBILLETTER"></Billet>
           <Billet button="VÆLG BILLET" style="sennep" money="" info="CAMPINGPAKKE" name="MIL - TENTHOUSE"></Billet>
           <Billet button="VÆLG BILLET" style="red" money="" info="" name="OVERNATNING"></Billet>
</section>
</MainLayout>
