---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <div class="bg-cover bg-[url('/his.webp')]">
    <p class="text-l md:text-2xl xl:text-4xl flex pt-9xl text-yellow-500 font-bold justify-center">MUSIK I LEJET</p>

    <div class="pb-96 mt-40">
      <div class="w-1/2 mx-auto p-10 bg-blue-600 top-10 text-yellow-50 font-roboto">
        <h-2 class="text-l">Hvem er vi?</h-2>
        <p class="text-s mt-s">Musik i Lejet er sommerens højdepunkt i Tisvildeleje. Festivalens tre dage præsenterer de toneangivende tendenser inden for musik, kunst og gastronomi. Alt sammen i Tisvildelejes billedskønne omgivelser. <br /> <br /> Musik i Lejet ligger sidste stop før Troldeskoven og strandkanten. Festivalens tre scener danner rammen for både helt dugfriske talenter og større folkekære artister. Kunsten præger festivalpladsens udtryk med farverige vægmalerier og installationer. Gastronomien er sat i højsædet med alt fra lokale flæskestegssandwich til asiatisk streetfood. Alt sammen kan ske med sand mellem tæerne og synet af badene gæster i Kattegat</p>
      </div>
    </div>
  </div>

  <section class="overflow-clip h-[700vh]" id="horisontalscrollsection">
    <ul id="horisontalliste" class="list-none flex sticky top-0">
      <li class="flex items-start justify-center flex-col flex-grow-0
        shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
      shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
    shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
  shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
  shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
  shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
      shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
      <li class="flex items-start justify-center flex-col flex-grow-0
          shrink-0 flex-auto">
        <img class="" src="/aften.webp" alt="foto" />
      </li>
    </ul>
  </section>

  <div class="bg-cover bg-[url('/historie2.webp')] sticky h-screen top-0">
    <p class="text-l md:text-2xl xl:text-4xl flex pt-4xl text-red-500 pb-[900px] font-bold justify-center">HISTORIEN BAG</p>
    <div class=""></div>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">2009</h2>
    <p class="text-s">Det hele begyndte i 2009, hvor tvillingerne Andreas og Kristian Grauengaard sammen med to veninder fik en rigtig god idé. De ville skabe en fest i deres hjemby, hvor gamle venner kunne mødes, lytte til god musik og nyde hinandens selskab og samtidig bidrage til udviklingen af Tisvildeleje. <br /> <br /> Festivalen blev første gang afholdt på Stejlepladsen i Tisvildeleje og afviklet og løftet af 100 venner og bekendte. Her kom ca. 700 mennesker forbi festivalen for at nyde en kold øl, fællesskabet og høre de 16 forskellige bands, der spillede over de 3 dage. Derfra voksede festivalen støt de efterfølgende år.</p>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">2011</h2>
    <p class="text-s pb-40">I 2011 udvidede Musik i Lejet med en scene til natkoncerter og i 2013 rykkede festivalen fra Stejlepladsen og ned til stranden. Det var også i dette år, at der for første gang blev opkrævet en entré til festivalen, der nu havde 36 optrædende bands.</p>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">2014</h2>
    <p class="text-s pb-40">I 2014 kunne Musik i Lejet fejre 5 års jubilæum og havde dette år ca. 5.000 betalende gæster og ca. 900 frivillige. Interessen for højsommerens strand- og musikfest spredte sig vidt, og i 2016 vandt Musik i Lejet Politikens ”Ibyen pris” som Årets Festival.</p>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">2017</h2>
    <p class="text-s">I 2017 gæstede 10.000 mennesker Musik i Lejet, der havde 40 optrædende bands og 1.500 frivillige til at løfte festivalen. Dette blev også året, hvor Musik i Lejet havde sit største overskud nogensinde på knap 300.000 kr., der blev uddelt til 18 lokale foreninger. <br /><br /> I 2017 valgte de to brødre at gå nye veje og stifte Good Boys Agency. Good Boys Agency løser en række forskellige opgaver inden for eventplanlægning og afvikling for private og offentlige aktører. Foreningen Musik i Lejets bestyrelse har siden valgt at engagere Good Boys Agency til at varetage den professionelle projektstyring og drift af festivalen.</p>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">2018-2019</h2>
    <p class="text-s pb-10">Musik i Lejet har på sine 13 års levetid opnået en stærk position på det danske festival-marked. Mange nye festivaler er kommet til inden for de seneste år. Ikke desto mindre markerede festivalens popularitet sig, da 2018 billetsalget satte noget nær danmarksrekord. På mindre end 30 minutter blev alle festival-billetterne revet væk. Dette skete uden, at Musik i Lejet havde offentliggjort et eneste navn til programmet. Til 2019-billetsalget oplevede Musik i Lejet samme enorme interesse med udsolgt på alle billetter på få minutter.</p>
  </div>

  <div class="w-1/2 mx-auto p-10 mb-96 bg-blue-600 text-m sticky top-32 text-yellow-50 font-roboto">
    <h2 class="text-l font-bold mb-s">Fun fact</h2>
    <p class="text-s pb-40">Indbygger tallet i Tisvildeleje syv dobbles når Musik i Lejet åbner op for vores gæster.</p>
    <img class="w-20" src="/inforgrafik.svg" alt="fordobling af indbyggere" />
  </div>

  <div class="w-1/2 mx-auto p-10 bg-transparent sticky top-32"></div>

  <script>
    import { animate, inView, scroll } from "motion";

    const items = document.querySelectorAll("#horisontalliste li");

    scroll(
      animate("#horisontalliste", {
        transform: ["none", `translateX(-${items.length - 5}00vw)`],
      }),
      { target: document.querySelector("#horisontalscrollsection") }
    );
  </script>
</MainLayout>
