---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <div class="h-[100svh] bg-cover bg-[url('/his.webp')]">
    <p class="text-l md:text-2xl xl:text-4xl flex pt-72 text-yellow-500 font-bold justify-center">MUSIK I LEJET</p>
  </div>
</MainLayout>
