---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Button2 from "../components/Button2.astro";
---

<MainLayout title="Titel">
  <div class="bg-cover bg-[url('/hero2.webp')]">
    <h1 class="text-l font-grotesk md:text-2xl xl:text-4xl flex pt-72 text-yellow-500 font-bold justify-center">MUSIK I LEJET</h1>
    <div class="flex justify-center mt-10 pb-80 md:pb-60">
      <a href="/billetter">
      <div class="hidden md:block"><Button>BILLETTER</Button></div>
      <div class="md:hidden"><Button size="small">BILLETTER</Button></div>
    </a>
    </div>
  </div>

  <div class="overflow-hidden w-full -mt-7 md:-mt-0">
    <div class=" wrapper flex gap-5 md:gap-20">
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
      <p class="w-[8rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">MUSIK</p>
    </div>
  </div>

  <div class="bg-cover grid justify-center bg-[url('/artistoverblikmobil.webp')] md:bg-[url('/artistoverblik.webp')]">
    <div class="text-yellow-50 font-grotesk bg-cover bg-center text-center md:mb-40 pt-[100px] md:pt-[245px] mt-10 mb-10 md:mt-52 bg-[url('/sol.png')] md:w-[1000px] md:h-[800px] w-[370px] h-[350px]">
      <p class="font-grotesk font-bold text-m md:text-xl">When Saints Go Machine</p>
      <div class="flex flex-row justify-center md:mb-5">
        <p class="font-grotesk font-bold md:text-l">Atigeardit x Lamin</p>
        <div class="h-1 w-1 md:h-2 md:w-2 bg-yellow-50 rounded mt-3 md:mt-8 mx-2 md:mx-4"></div>
        <p class="font-grotesk font-bold md:text-l">Röyksopp</p>
      </div>

      <div class="flex flex-row justify-center md:mb-2">
        <p class="font-grotesk md:text-m">Guldimund</p>
        <div class="h-1 w-1 md:h-1.5 md:w-1.5 bg-yellow-50 rounded mt-3 md:mt-4 mx-2 md:mx-3"></div>
        <p class="font-grotesk md:text-m">Greta</p>
        <div class="h-1 w-1 md:h-1.5 md:w-1.5 bg-yellow-50 rounded mt-3 md:mt-4 mx-2 md:mx-3"></div>
        <p class="font-grotesk md:text-m">Medina</p>
        <div class="h-1 w-1 md:h-1.5 md:w-1.5 bg-yellow-50 rounded mt-3 md:mt-4 mx-2 md:mx-3"></div>
      </div>
      <p class="font-grotesk md:text-m mb-5 md:mb-10">Tina Dickow</p>
      <a href="/program">
      <div class="hidden md:block"><Button2>SE DET FULDE PROGRAM </Button2></div>
      <div class="md:hidden"><Button2 size="small">SE DET FULDE PROGRAM</Button2></div>
    </a>
    </div>
  </div>

  <div class="overflow-hidden bg-blue-600 w-full md:-mt-0">
    <div class=" wrapper flex gap-20 md:gap-[20rem]">
      <p class="w-[8rem] text-l text-yellow-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">NYHEDER</p>
      <p class="w-[8rem] text-l text-yellow-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">NYHEDER</p>
      <p class="w-[8rem] text-l text-yellow-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">NYHEDER</p>
      <p class="w-[8rem] text-l text-yellow-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">NYHEDER</p>
      <p class="w-[8rem] text-l text-yellow-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">NYHEDER</p>
    </div>
  </div>

  <div class="w-full -mt-2 md:-mt-2 bg-blue-600">
    <div class="relative max-w-10xl m-auto">
      <div id="wrapper" class="overflow-hidden flex snap-x scrollbar-hide pt-2">
        <!-- Item 1 -->
        <a href="aften">
          <div id="slide" class="duration-700 hover:scale-105 ease-in-out shrink-0 snap-center bg-[url('/aften.webp')] w-[600px] h-80 bg-cover flex flex-col justify-end text-red-950 font-grotesk text-xs md:text-s">
            <div class="font-roboto w-full h-16 md:h-20 bg-sennep-100 pl-3 pt-2">
              <p>5. marts 2024</p>
              <p class="font-bold">JA TAK til MiL - Sommerens Festival fortsætter</p>
            </div>
          </div></a
        >

        <!-- Item 2 -->
        <a href=""
          ><div class="duration-700 hover:scale-105 ease-in-out shrink-0 snap-center bg-[url('/musik.webp')] w-[600px] h-80 bg-cover flex flex-col justify-end text-red-950 font-grotesk text-xs md:text-s">
            <div class="font-roboto w-full h-16 md:h-20 bg-yellow-100 pl-3 pt-2">
              <p>5. marts 2024</p>
              <p class="font-bold">JA TAK til MiL - Sommerens Festival fortsætter</p>
            </div>
          </div></a
        >

        <!-- Item 3 -->
        <a href="">
          <div class="duration-700 hover:scale-105 ease-in-out shrink-0 snap-center bg-[url('/mad.webp')] w-[600px] h-80 bg-cover flex flex-col justify-end text-red-950 font-grotesk text-xs md:text-s">
            <div class="font-roboto w-full h-16 md:h-20 bg-sennep-100 pl-3 pt-2">
              <p>5. marts 2024</p>
              <p class="font-bold">JA TAK til MiL - Sommerens Festival fortsætter</p>
            </div>
          </div>
        </a>

        <!-- Item 4 -->
        <a href="">
          <div class="duration-700 hover:scale-105 ease-in-out shrink-0 snap-center bg-[url('/volley.webp')] w-[600px] h-80 bg-cover flex flex-col justify-end text-red-950 font-grotesk text-xs md:text-s">
            <div class="font-roboto w-full h-16 md:h-20 bg-yellow-100 pl-3 pt-2">
              <p>5. marts 2024</p>
              <p class="font-bold">JA TAK til MiL - Sommerens Festival fortsætter</p>
            </div>
          </div>
        </a>

        <!-- Item 5 -->
        <a href="">
          <div class="duration-700 hover:scale-105 ease-in-out shrink-0 snap-center bg-[url('/elektronisk.webp')] w-[600px] h-80 bg-cover flex flex-col justify-end text-red-950 font-grotesk text-xs md:text-s">
            <div class="font-roboto w-full h-16 md:h-20 bg-sennep-100 pl-3 pt-2">
              <p>5. marts 2024</p>
              <p class="font-bold">JA TAK til MiL - Sommerens Festival fortsætter</p>
            </div>
          </div>
        </a>
      </div>

      <div class="flex justify-end md:mt-8 mr-3 mt-2 md:mr-5">
        <div class="hidden md:block"><Button2>SE ALLE NYHEDER </Button2></div>
        <div class="md:hidden"><Button2 size="small">SE ALLE NYHEDER</Button2></div>
      </div>

      <button id="prevbtn" type="button" class="flex absolute top-1/3 left-3 z-40 items-center justify-center md:w-16 md:h-16 rounded-full bg-sennep-100 focus:outline-none transition">
        <svg class="h-8 w-8 md:h-20 md:w-20 text-yellow-950" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <button id="nextbtn" type="button" class="flex absolute top-1/3 right-3 z-40 items-center justify-center md:w-16 md:h-16 rounded-full bg-sennep-100 focus:outline-none transition">
        <svg class="h-8 w-8 md:h-20 md:w-20 text-yellow-950" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>

    <div class="grid mt-4 md:mt-12">
      <div class="col-start-1 row-start-1">
        <video class="w-full" autoplay muted loop>
          <source src="/videocountdown.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-start-1 row-start-1 w-full bg-red-950 bg-opacity-50"></div>
      <div class="col-start-1 row-start-1 lg:pt-20 -mt-12 md:-mt-32 xl:-mt-5">
        <div class="flex justify-center font-bold text-yellow-50 font-grotesk text-m md:text-xl mt-20 mb-5 md:mt-32"><p>VI SES OM</p></div>
        <div x-data="{
      endDate: new Date('2024-07-18T23:59:59').getTime(),
      remainingTime: 0,
      formatTime(time) {
        const days = Math.floor(time / (1000 * 60 * 60 * 24));
        const hours = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((time % (1000 * 60)) / 1000);
        return { days, hours, minutes, seconds };
      }
    }" x-init="() => {
      setInterval(() => {
        const now = new Date().getTime();
        const remainingTime = endDate - now;
        $data.remainingTime = remainingTime > 0 ? remainingTime : 0;
      }, 1000);
    }">
          <template x-if="remainingTime > 0">
            <div class="flex flex-row gap-7 md:gap-32 text-center justify-center font-bold text-yellow-50 font-grotesk">
              <div>
                <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).days"></div>
                <div class="text-[13px] md:text-m">DAGE</div>
              </div>
              <div>
                <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).hours"></div>
                <div class="text-[13px] md:text-m">TIMER</div>
              </div>
              <div>
                <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).minutes"></div>
                <div class="text-[13px] md:text-m">MINUTTER</div>
              </div>
              <div>
                <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).seconds"></div>
                <div class="text-[13px] md:text-m">SEKUNDER</div>
              </div>
            </div>
          </template>
          <template x-if="remainingTime <= 0">
            <div>
              <div></div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <script>
    const prevBtn = document.querySelector("#prevbtn");
    const nextBtn = document.querySelector("#nextbtn");
    const slide = document.querySelector("#slide");
    const wrapper = document.querySelector("#wrapper");
    let count = 0;
    prevBtn.style.visibility = "hidden";

    nextBtn.addEventListener("click", () => {
      count++;
      if (count === 4) {
        nextBtn.style.visibility = "hidden";
      } else if (count >= 1) {
        prevBtn.style.visibility = "visible";
      }
      const scrollAmount = slide.offsetWidth;
      wrapper.scrollBy({
        left: scrollAmount,
        behavior: "smooth",
      });
    });

    prevBtn.addEventListener("click", () => {
      count--;

      if (count === 0) {
        prevBtn.style.visibility = "hidden";
      } else if (count >= 1) {
        prevBtn.style.visibility = "visible";
        nextBtn.style.visibility = "visible";
      }
      const scrollAmount = slide.offsetWidth;
      wrapper.scrollBy({
        left: -scrollAmount,
        behavior: "smooth",
      });
    });
  </script>
</MainLayout>
