---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
import Button from '../components/Button.astro'
---
<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
    <div class="overflow-hidden w-full -mt-7 md:-mt-0">
        <div class="wrapper flex gap-6 md:gap-80">
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
        </div>
      </div>
    <section class="bg-blue-600 flex items-start content-start flex-wrap pt-s pb-s md:p-xl">
        <a href="/tak"> <div class="hidden md:block"><Button variant="secondary">TILBAGE</Button></div></a>
        <a href="/tak"><div class="md:hidden"><Button variant="secondary" size="small">TILBAGE</Button></div></a>
      <div class="flex flex-col justify-center content-center items-center gap-l md:gap-6xl flex-shrink-0 flex-wrap md:pt-3xl md:pb-9xl">
        <h1 class="text-m md:text-2xl font-bold text-yellow-500">Partout billetter</h1>
        <div class="flex flex-col items-start gap-xs md:gap-5xl">
           <div> <Billet></Billet></div>
           <div> <Billet></Billet></div>
           <div> <Billet></Billet></div>
           <div> <Billet></Billet></div>
        </div>
          </div>
</section>
</MainLayout>