---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
import Button from '../components/Button.astro'
import Button2 from "../components/Button2.astro";
---
<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
    <div class="overflow-hidden w-full md:-mt-0">

      <!-- RULLENDE TEKST -->
        <div class="wrapperpartout flex gap-10 md:gap-32">
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
          <p class="w-[12rem] text-l text-red-500 font-bold font-grotesk md:w-[40rem] md:text-3xl">BILLETTER</p>
        </div>
      </div>

      <!-- BILLETTER -->
    <section class="bg-blue-600 grid items-start content-start flex-wrap pt-s pb-s md:p-xl">
        <a href="/billetter"> <div class="hidden md:block"><Button2 variant="secondary"> TILBAGE</Button></div></a>
        <a href="/billetter"><div class="pl-2 md:hidden"><Button2 variant="secondary" size="small"> TILBAGE</Button></div></a>
      <div class="flex flex-col justify-center content-center items-center gap-l md:gap-6xl flex-shrink-0 flex-wrap md:pt-3xl md:pb-9xl">
        <h1 class="font-grotesk text-l md:text-2xl font-bold text-yellow-500">Partout billetter</h1>
        <div class="grid items-start gap-xs md:gap-5xl font-roboto">
            <Billet button="KØB BILLET" href="/kurv" style="orange" money="Kr. 1.935,00" info="" name="ALMINDELIG"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 1.025,00" info="Denne billet kan benyttes af personer som er 65 år eller derover på Musik i Lejet 2024." info2="Der skal kunne vises gyldigt billed-ID ved indgangen  med en partout +65 billet." name="+65"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 1.025,00" info="Denne billet kan benyttes af børn, som er 12, 13, 14 og 15 år." info2="Aldersgrænser er gældende for den alder, man har på Musik i Lejet 2024." info3="Der skal kunne vises gyldigt billed-ID ved indgangen med en partout  +12U16 billet." name="+12U16"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 20,00" info="Denne billet giver gratis adgang til børn, som er under 12 år og  ledsages af en voksen med en adgangsgivende billet." info2="Aldersgrænser er  gældende for den alder, man har på Musik i Lejet 2024." info3="Der skal kunne  vises gyldigt billed-ID ved indgangen med en partout U12 billet." name="U12"></Billet>
        </div>
          </div>
</section>

<!-- VIDEO MED COUNTDOWN -->
<div class="grid">
  <div class="col-start-1 row-start-1">
    <video class="w-full" autoplay muted loop>
      <source src="/videocountdown.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="col-start-1 row-start-1 w-full bg-red-950 bg-opacity-50"></div>
  <div class="col-start-1 row-start-1 lg:pt-20 -mt-12 md:-mt-32 xl:-mt-5">
    <div class="flex justify-center font-bold text-yellow-50 font-grotesk text-m md:text-xl mt-20 mb-5 md:mt-32"><p>VI SES OM</p></div>
    <div x-data="{
  endDate: new Date('2024-07-18T23:59:59').getTime(),
  remainingTime: 0,
  formatTime(time) {
    const days = Math.floor(time / (1000 * 60 * 60 * 24));
    const hours = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((time % (1000 * 60)) / 1000);
    return { days, hours, minutes, seconds };
  }
}" x-init="() => {
  setInterval(() => {
    const now = new Date().getTime();
    const remainingTime = endDate - now;
    $data.remainingTime = remainingTime > 0 ? remainingTime : 0;
  }, 1000);
}">
      <template x-if="remainingTime > 0">
        <div class="flex flex-row gap-7 md:gap-32 text-center justify-center font-bold text-yellow-50 font-grotesk">
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).days"></div>
            <div class="text-[13px] md:text-m">DAGE</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).hours"></div>
            <div class="text-[13px] md:text-m">TIMER</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).minutes"></div>
            <div class="text-[13px] md:text-m">MINUTTER</div>
          </div>
          <div>
            <div class="text-l md:text-4xl" x-text="formatTime(remainingTime).seconds"></div>
            <div class="text-[13px] md:text-m">SEKUNDER</div>
          </div>
        </div>
      </template>
      <template x-if="remainingTime <= 0">
        <div>
          <div></div>
        </div>
      </template>
    </div>
  </div>
</div>
</div>
</MainLayout>