---
import MainLayout from "../layouts/MainLayout.astro";
import Billet from '../components/Billet.astro'
import Button from '../components/Button.astro'
import Button2 from "../components/Button2.astro";
---
<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
    <div class="overflow-hidden w-full -mt-7 md:-mt-0">
        <div class="wrapper flex gap-6 md:gap-80">
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
          <p class="w-[10rem] text-l text-red-500 font-bold font-grotesk md:w-[22rem] md:text-3xl">BILLETTER</p>
        </div>
      </div>
    <section class="bg-blue-600 flex items-start content-start flex-wrap pt-s pb-s md:p-xl">
        <a href="/tak"> <div class="hidden md:block"><Button2 variant="secondary">TILBAGE</Button></div></a>
        <a href="/tak"><div class="md:hidden"><Button2 variant="secondary" size="small">TILBAGE</Button></div></a>
      <div class="flex flex-col justify-center content-center items-center gap-l md:gap-6xl flex-shrink-0 flex-wrap md:pt-3xl md:pb-9xl">
        <h1 class="text-m md:text-2xl font-bold text-yellow-500">Partout billetter</h1>
        <div class="flex flex-col items-start gap-xs md:gap-5xl font-roboto">
            <Billet button="KØB BILLET" style="orange" money="Kr. 1.935,00" info="" name="ALMINDELIG"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 1.025,00" info="Denne billet kan benyttes af personer som er 65 år eller derover på Musik i Lejet 2024." info2="Der skal kunne vises gyldigt billed-ID ved indgangen  med en partout +65 billet." name="+65"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 1.025,00" info="Denne billet kan benyttes af børn, som er 12, 13, 14 og 15 år." info2="Aldersgrænser er gældende for den alder, man har på Musik i Lejet 2024." info3="Der skal kunne vises gyldigt billed-ID ved indgangen med en partout  +12U16 billet." name="+12U16"></Billet>
            <Billet button="KØB BILLET" style="orange" money="Kr. 20,00" info="Denne billet giver gratis adgang til børn, som er under 12 år og  ledsages af en voksen med en adgangsgivende billet." info2="Aldersgrænser er  gældende for den alder, man har på Musik i Lejet 2024." info3="Der skal kunne  vises gyldigt billed-ID ved indgangen med en partout U12 billet." name="U12"></Billet>
        </div>
          </div>
</section>
</MainLayout>