---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

    <div class="h-[200px] md:h-[420px] bg-cover -mt-10 bg-[url('/baggrund_billet.webp')]"></div>
      <section class="bg-blue-600 flex flex-col items-center justify-center pt-s pb-s md:pt-9xl md:pb-9xl gap-xs">
        <h1 class="font-grotesk font-bold text-m md:text-3xl text-yellow-500">TAK FOR DIT KØB</h1>
        <p class="font-roboto text-yellow-50 text-center text-s md:text-l">Vi har sendt en bekræftelse på <br> din mail</p>

      </section>
</MainLayout>