---
import Button from './Button.astro'
---

<!-- forside -->
<div class="lg:pt-xl lg:pb-xl lg:pr-2xl bg-orange-400 lg:max-width-1052">
<div class="lg:flex flex-row lg:gap-y-xl lg:gap-x-4xl">
    <img class="lg:h-32" src="public/solhalv.png" alt="sol">
    <div class="lg:flex flex-col justify-end items-start lg:gap-xl">
    <div class="flex justify-between items-center">
<h1>Navn</h1>
<p>18 - 19 - 20 Juli</p>
</div>
<div class="flex">
    <p>Info</p>
    <p>Kr.</p>
</div>
<div class="flex"><Button variant="secondary">læs mere</Button></div>
</div>
</div>
</div>