---
// Henter parametrene fra Astro.props

const { variant = "primary", size = "large" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const buttonStyling = "border-[6px] border-yellow-500 hover:bg-yellow-500 hover:text-red-600 text-yellow-500 text-l font-bold font-grotesk px-5 py-3";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter

const variantClasses = {
  primary: "border-[6px] border-yellow-500 hover:bg-yellow-500 hover:text-red-600 text-yellow-500 text-l font-bold font-grotesk px-5 py-3",

  secondary: "border-none text-sennep-50  hover:bg-transparent hover:text-yellow-500 underline border-b-2 text-m",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {
  small: "border-[3px] text-s font-bold font-grotesk px-1 py-2",
  secondsmall: "text-xs",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
