---

---

<div class="bg-red-500 h-900 grid justify-center text-red-950">
  <p class="text-sennep-500 text-m lg:text-2xl m-auto font-bold font-grotesk">TILMELD NYHEDSBREV</p>

  <div>
    <div class="h-16 w-60 lg:w-700 m-auto border-0 border-b-2 border-red-950 flex -mt-12 lg:-mt-10">
      <form class="m-auto" action="/action_page.php">
        <input class="border-0 outline-none h-10 mt-5 -ml-7
         md:-ml-[240px] pt-6 lg:w-96 bg-red-500 placeholder-red-950" type="text" id="fname" name="fname" placeholder="Din e-mail adresse" />
      </form>
      <p class="mt-8 mr-2 font-bold lg:text-s">TILMELD</p>
    </div>
  </div>

  <div class="lg:grid lg:w-700 m-auto -mt-10 lg:-mt-0 grid-cols-2 gap-32 font-bold font-roboto text-xs lg:text-m">
    <div class="mb-10 lg:mb-0">
      <p class="mb-5">KONTAKT</p>
      <div class="text-xs lg:text-s font-normal flex flex-col gap-3">
        <a class="underline" href="">kontakt@musikilejet.dk</a>
        <p><a class="underline mr-5" href="">+45 53 66 75 06 </a> man - fre 10 - 16</p>
        <a class="underline" href="">Privatlivspolitik</a>
      </div>
    </div>
    <div>
      <p class="mb-5">FØLG OS</p>
      <div class="flex gap-5 text-xs lg:text-s font-normal underline">
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">Youtube</a>
      </div>
    </div>
  </div>

  <div class="grid justify-center">
    <img class="w-16 lg:w-32" src="/spons1.png" alt="sponsor" />
  </div>

  <div class="flex gap-5 lg:gap-20 -mt-16 lg:-mt-0 justify-center">
    <img class="w-12 lg:w-40 mt-1 lg:mt-2 h-1 lg:h-3" src="/spons3.png" alt="sponsor" />
    <img class="w-12 lg:w-40 h-3 lg:h-10" src="/spons4.png" alt="sponsor" />
    <img class="w-12 lg:w-40 h-2 lg:h-10" src="/spons5.png" alt="sponsor" />
    <img class="w-12 lg:w-40 h-2 lg:h-10" src="/spons6.png" alt="sponsor" />
    <img class="w-12 lg:w-40 h-3 lg:h-10" src="/spons7.png" alt="sponsor" />
  </div>

  <div class="grid justify-center -mt-32 lg:-mt-0">
    <img class="w-8 lg:w-16" src="/spons2.png" alt="sponsor" />
  </div>
</div>
