---

---

<nav class="relative flex items-center justify-between p-5 z-30">
  <a class="z-10" href="/"><img class="w-12 md:w-16" src="/musikilejetlogo.svg" alt="logo" /></a>
  <ul class="hidden absolute w-full h-[100svh] inset-0 bg-blue-600 auto-rows-max place-content-center">
    <li>
      <a class="text-l md:text-xl text-yellow-50 font-grotesk" href="/billetter">Billetter</a>
    </li>
    <li><a class="text-l md:text-xl text-yellow-50 font-grotesk" href="/program">Program</a></li>
    <li><a class="text-l md:text-xl text-yellow-50 font-grotesk" href="/historie">Om Musikilejet</a></li>
  </ul>

  <p class="text-yellow-50 md:text-m font-grotesk">18 / 5 - 20 / 5 2024</p>

  <div class="grid z-10 items-center -mt-5">
    <div class="burger-active col-start-1 row-start-1 hidden h-20 items-center">
      <div class="bar w-7 md:w-10 md:h-1 h-1 rounded col-start-1 row-start-1 bg-yellow-50 rotate-45"></div>
      <div class="bar w-7 md:w-10 md:h-1 h-1 rounded col-start-1 row-start-1 bg-yellow-50 rotate-[-45deg] -mt-0.5"></div>
    </div>
    <div class="burger-lukket col-start-1 row-start-1 flex flex-col gap-1.5 md:gap-2">
      <div class="bar w-7 md:w-10 h-1 md:h-1 rounded ml-2 bg-yellow-50 hover:transform:rotate-[45deg];"></div>
      <div class="bar w-7 md:w-10 rounded h-1 md:h-1 bg-yellow-50"></div>
      <div class="bar w-7 md:w-10 rounded h-1 md:h-1 ml-2 bg-yellow-50"></div>
    </div>
  </div>
</nav>

<script>
  const menu = document.querySelector("ul");
  const burgeractive = document.querySelector(".burger-active");
  const burgerlukket = document.querySelector(".burger-lukket");
  burgerlukket.addEventListener("click", () => {
    burgeractive.classList.toggle("hidden");
    burgeractive.classList.toggle("grid");
    menu.classList.remove("hidden");
    menu.classList.add("grid");
    burgerlukket.classList.add("hidden");
  });

  burgeractive.addEventListener("click", () => {
    burgerlukket.classList.toggle("hidden");
    burgeractive.classList.toggle("grid");
    menu.classList.add("hidden");
    menu.classList.remove("grid");
    burgeractive.classList.toggle("hidden");
  });
</script>
